---
- name: Check if mail_admin_email is given in playbook
  debug:
    msg: "{{ mail_admin_email }}"

- name: Check if mail_base_domain is given in playbook
  debug:
    msg: "{{ mail_base_domain }}"

- name: Check if phpmyadmin_hostname is given in playbook
  debug:
    msg: "{{ phpmyadmin_hostname }}"

- name: Check if ispconfig_hostname is given in playbook
  debug:
    msg: "{{ ispconfig_hostname }}"

- name: Check if roundcube_hostname is given in playbook
  debug:
    msg: "{{ roundcube_hostname }}"

- name: Check if ispconfig_mysql_master_root_password is given in playbook when using multiserver setup
  fail:
    msg: "ispconfig_join_multiserver_setup is active and ispconfig_mysql_master_root_password has a default password. Please change it in the playbook."
  when: ispconfig_join_multiserver_setup == "y" and ispconfig_mysql_master_root_password == "ChangeMe"

- name: Generate mail password
  set_fact:
      mail_admin_password: "{{ mail_admin_password |
                    default( lookup('password', '/dev/null chars=ascii_letters,digits length=32') ) }}"

- name: Generate roundcube password
  set_fact:
      roundcube_admin_password: "{{ roundcube_admin_password |
                    default( lookup('password', '/dev/null chars=ascii_letters,digits length=32')) }}"

- name: Generate phpmyadmin_user password
  set_fact:
      phpmyadmin_user_password: "{{ phpmyadmin_user_password |
                      default( lookup('password', '/dev/null chars=ascii_letters,digits length=32')) }}"

- name: Generate ISPConfig passwords
  set_fact:
      ispconfig_admin_password: "{{ ispconfig_admin_password |
                              default( lookup('password', '/dev/null chars=ascii_letters,digits length=32') ) }}"
      ispconfig_mysql_root_password: "{{ ispconfig_mysql_root_password |
                              default( lookup('password', '/dev/null chars=ascii_letters,digits length=32') ) }}"
      ispconfig_mysql_ispconfig_password: "{{ ispconfig_mysql_ispconfig_password |
                              default( lookup('password', '/dev/null chars=ascii_letters,digits length=32')) }}"
      ispconfig_mysql_master_root_password: "{{ ispconfig_mysql_master_root_password |
                              default( lookup('password', '/dev/null chars=ascii_letters,digits length=32')) }}"

- name: Switch shell to bash
  file:
    src: /bin/bash
    dest: /bin/sh
    state: link

- name: Stop AppArmor
  service:
    name: apparmor
    state: stopped

- name: Remove AppArmor
  apt:
    name: apparmor
    state: absent

- name: Synchronize the system clock (install ntp)
  apt:
    name: ntp
    state: present

- name: Uninstall sendmail
  apt:
    name: sendmail
    state: absent

- include_tasks: debconf_save.yml

# ----------------Install packages----------------------------
- include_tasks: install_packages.yml

# ----------------Configure Postfix----------------------------
- include_tasks: postfix_configuration.yml

# ----------------Configure Mariadb----------------------------
- include_tasks: mariadb_configuration.yml

# ----------------Install and configure php and apache---------
- include_tasks: apache_php_configuration.yml

## ----------------Install and configure pureftp_quota----------
#- include_tasks: amavisd_new_spamassassin_clamav_configuration.yml

# ----------------Install and configure mailman-----------------
- include_tasks: mailman_configuration.yml

#----------------Install and configure pureftp_quota------------
- include_tasks: quota_pureftp_configuration.yml

#----------------Install and configure bind dns-----------------
- include_tasks: bind_dns_server.yml

#----------------Install vlogger webalizer awstats--------------
- include_tasks: install_vlogger_webalizer_awstats.yml

#----------------Install jailkit--------------------------------
- include_tasks: install_jailkit.yml

#----------------Install fail2ban ufw---------------------------
- include_tasks: install_fail2ban_ufw.yml

#----------------Install and configure PHP MyAdmin----------------------------
- include_tasks: install_phpmyadmin.yml

#----------------Install and configure roundcube----------------
- include_tasks: install_roundcube.yml

#----------------Install and configure ispconfig----------------
- include_tasks: install_ispconfig.yml

- include_tasks: cleanup.yml

- name: Print all passwords
  debug:
    msg:
      - "mail_admin_password: {{ mail_admin_password | default(mail_admin_password) }}"
      - "roundcube_admin_password: {{ roundcube_admin_password if roundcube is defined
                                      else roundcube_admin_password }}"
      - "ispconfig_admin_password: {{ ispconfig_ispconfig_admin_password | default(ispconfig_admin_password) }}"
      - "ispconfig_mysql_root_password: {{ ispconfig_mysql_root_password | default(ispconfig_mysql_root_password) }}"
      - "ispconfig_mysql_ispconfig_password: {{ ispconfig_mysql_ispconfig_password
                                                | default(ispconfig_mysql_ispconfig_password) }}"
      - "ispconfig_mysql_master_root_password: {{ ispconfig_mysql_master_root_password
                                                  | default(ispconfig_mysql_master_root_password) }}"
