[install]
language={{ language[:2] }}
install_mode={{ ispconfig_install_mode }}
hostname={{ ispconfig_hostname }}
mysql_hostname={{ ispconfig_mysql_hostname }}
mysql_root_user={{ ispconfig_mysql_root_user }}
mysql_root_password={{ ispconfig_mysql_root_password }}
mysql_database={{ ispconfig_mysql_database }}
mysql_port={{ ispconfig_mysql_port }}
mysql_charset={{ ispconfig_mysql_charset }}
http_server={{ ispconfig_http_server }}
ispconfig_port={{ ispconfig_ispconfig_port }}
ispconfig_use_ssl={{ ispconfig_ispconfig_use_ssl }}
ispconfig_admin_password={{ ispconfig_admin_password }}

[ssl_cert]
ssl_cert_country=DC
ssl_cert_state=DummyState
ssl_cert_locality=DummyTown
ssl_cert_organisation=DummyCompany
ssl_cert_organisation_unit=DummyUnit
ssl_cert_common_name=DummyName

[expert]
mysql_ispconfig_user={{ ispconfig_mysql_ispconfig_user }}
mysql_ispconfig_password={{ ispconfig_mysql_ispconfig_password }}
join_multiserver_setup={{ ispconfig_join_multiserver_setup }}
mysql_master_hostname={{ ispconfig_mysql_master_hostname }}
mysql_master_root_password={{ ispconfig_mysql_master_root_password }}
configure_mail={{ ispconfig_configure_mail }}
configure_jailkit={{ ispconfig_configure_jailkit }}
configure_ftp={{ ispconfig_configure_ftp }}
configure_dns={{ ispconfig_configure_dns }}
configure_nginx={{ ispconfig_configure_nginx }}
configure_apache={{ ispconfig_configure_apache }}
configure_firewall={{ ispconfig_configure_firewall }}
configure_webserver={{ ispconfig_configure_webserver }}
install_ispconfig_web_interface={{ ispconfig_install_ispconfig_web_interface }}

[update]
do_backup={{ ispconfig_do_backup }}
mysql_root_password={{ ispconfig_mysql_master_database }}
mysql_master_hostname={{ ispconfig_mysql_master_hostname }}
mysql_master_root_user={{ ispconfig_mysql_root_user }}
mysql_master_root_password={{ ispconfig_mysql_master_root_password }}
mysql_master_database={{ ispconfig_mysql_database }}
reconfigure_permissions_in_master_database={{ ispconfig_reconfigure_permissions_in_master_database }}
reconfigure_services={{ ispconfig_reconfigure_services }}
ispconfig_port={{ ispconfig_ispconfig_port }}
create_new_ispconfig_ssl_cert={{ ispconfig_create_new_ispconfig_ssl_cert }}
reconfigure_crontab={{ ispconfig_reconfigure_crontab }}
