<VirtualHost *:80>
  ServerName {{ roundcube_hostname }}

  RewriteEngine On
  RewriteCond %{SERVER_PORT} !^443$
  RewriteRule ^(.*)$ https://{{ roundcube_hostname }}$1 [L,R]

  ServerSignature Off
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ roundcube_hostname }}
  DocumentRoot /var/lib/roundcube

  SSLEngine On
  SSLCertificateFile /etc/apache2/certs/{{ roundcube_hostname }}/fullchain.pem
  SSLCertificateKeyFile /etc/apache2/certs/{{ roundcube_hostname }}/privkey.pem

  ErrorLog /var/log/apache2/{{ roundcube_hostname }}_error.log
  CustomLog /var/log/apache2/{{ roundcube_hostname }}_access.log combined
  ServerSignature Off
</VirtualHost>
