<VirtualHost *:80>
    ServerName {{ roundcube_hostname }}
    ServerAdmin webmaster@{{ roundcube_hostname }}

    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ roundcube_hostname }}
    ServerAdmin webmaster@{{ roundcube_hostname }}

    ErrorLog /var/log/apache2/{{ roundcube_hostname }}_error.log
    CustomLog /var/log/apache2/{{ roundcube_hostname }}_access.log combined

    <IfModule mod_headers.c>
        Header set Content-Security-Policy "default-src 'self';"
        Header set Content-Security-Policy "style-src 'self' 'unsafe-inline';"
        Header always add Strict-Transport-Security "max-age=15768000; includeSubDomains; preload"
    </IfModule>

    SSLEngine On
    SSLCertificateFile /etc/apache2/certs/{{ roundcube_hostname }}/fullchain.pem
    SSLCertificateKeyFile /etc/apache2/certs/{{ roundcube_hostname }}/privkey.pem

    ProxyPreserveHost On
    ProxyPass /.well-known !
    ProxyPass "/" "http://127.0.0.1:1082/"
    ProxyPassReverse "/" "http://127.0.0.1:1082/"
</VirtualHost>
